source_up

SECRET_PATH=".envrc.local"
source_env_if_exists "$SECRET_PATH"

if [ ! -f "$SECRET_PATH" ]; then
	echo "Missing secrets! Create .envrc.local from the provided .example file."
fi

export TF_VAR_kafka_admin_secret=${LM_KAFKA_ADMIN_PASSWORD}
export TF_VAR_kafka_keycloak_secret=${LM_KAFKA_KEYCLOAK_PASSWORD}
export TF_VAR_keycloak_client_secret=${LM_KEYCLOAK_CLIENT_PASSWORD}
export TF_VAR_keycloak_bff_client_secret=${LM_KEYCLOAK_BFF_CLIENT_PASSWORD}
