export LM_KAFKA_ADMIN_PASSWORD=your_password_here
export LM_KAFKA_BACKEND_PASSWORD=your_password_here
export LM_KAFKA_KEYCLOAK_PASSWORD=your_password_here
export LM_KEYCLOAK_ADMIN_PASSWORD=your_password_here
export LM_KEYCLOAK_DB_PASSWORD=your_password_here
export LM_BACKEND_DB_PASSWORD=your_password_here
export LM_PGADMIN_ADMIN_PASSWORD=your_password_here

# keycloak client
export LM_KEYCLOAK_CLIENT_PASSWORD=your_password_here
export LM_KEYCLOAK_BFF_CLIENT_PASSWORD=your_password_here
