source_up

SECRET_PATH="../../localmock/.envrc.local"
source_env_if_exists "$SECRET_PATH"

if [ ! -f "$SECRET_PATH" ]; then
	echo "Missing secrets! Create localmock/.envrc.local from the provided .example file."
fi

export DB_URL=localhost:5432
export DB_USERNAME=backend
export DB_PASSWORD=${LM_BACKEND_DB_PASSWORD}
export DB_NAME=backend
export KEYCLOAK_BASE_URL=http://localhost:7777
export KEYCLOAK_REALM=playground
export KEYCLOAK_BACKEND_CLIENT_ID=backend
export KEYCLOAK_BACKEND_CLIENT_SECRET=${LM_KEYCLOAK_BACKEND_CLIENT_PASSWORD}
