source_up

SECRET_PATH="../../localmock/.envrc.local"
source_env_if_exists "$SECRET_PATH"

if [ ! -f "$SECRET_PATH" ]; then
	echo "Missing secrets! Create localmock/.envrc.local from the provided .example file."
fi

export DATABASE_URL=postgres://backend:${LM_BACKEND_DB_PASSWORD}@localhost:5432/backend
export KEYCLOAK_BASE_URL=http://localhost:7777
export KEYCLOAK_REALM=playground
export KEYCLOAK_BACKEND_CLIENT_ID=backend
export KEYCLOAK_BACKEND_CLIENT_SECRET=${LM_KEYCLOAK_BACKEND_CLIENT_PASSWORD}

# Comma-separated Kafka bootstrap brokers.
export KAFKA_BROKER_URLS=localhost:9092
export KAFKA_USERNAME=backend
export KAFKA_PASSWORD=${LM_KAFKA_BACKEND_PASSWORD}
export KAFKA_CONSUMER_GROUP_ID=backend-user-events

# Kafka topic
export KAFKA_TOPIC_USER_EVENT=iam.user.event.v1
