source_up

SECRET_PATH=".envrc.local"
source_env_if_exists "$SECRET_PATH"

if [ ! -f "$SECRET_PATH" ]; then
	echo "Missing secrets! Create .envrc.local from the provided .example file."
fi

export KEYCLOAK_BASE_URL=http://localhost:7777
export KEYCLOAK_REALM=playground
export KEYCLOAK_CLIENT_ID=bff
export KEYCLOAK_CALLBACK_URL=http://localhost:7778/auth/callback
export SERVER_PORT=7778
export SESSION_SECRET=5HhxC34gkZ0NBB
export USE_HTTPS=false
export FRONTEND_BASE_URL=http://localhost:5173
export NATS_URL=http://localhost:4222
export NATS_KV_SESSION_BUCKET_NAME=sessions
