source_up

SECRET_PATH="../../localmock/.envrc.local"
source_env_if_exists "$SECRET_PATH"

if [ ! -f "$SECRET_PATH" ]; then
	echo "Missing secrets! Create localmock/.envrc.local from the provided .example file."
fi

#  TODO: change db url
export DB_URL=localhost:5432
export DB_USERNAME=backend
export DB_PASSWORD=${BACKEND_DB_PASSWORD}
export DB_NAME=backend
